.wrapper {
    background-color: #334155;
    display: flex;
    width: 300px;
    height: 947px;
    align-items: stretch;
}

a, a:hover {
    text-decoration: none;
    color: white;
    display: block;
}

.myLink {
    border: 1.5px solid #000000;
    width: 300px;
}

.myLink:hover {
    background-color: #193341
}